<?xml version="1.0"	encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>actOpenServlet</servlet-name>
		<servlet-class>org.ponmmains.bank.servlet.ActOpenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>actOpenServlet</servlet-name>
		<url-pattern>/act/open</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>actTransferServlet</servlet-name>
		<servlet-class>org.ponmmains.bank.servlet.ActTransferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>actTransferServlet</servlet-name>
		<url-pattern>/act/transfer</url-pattern>
	</servlet-mapping>
</web-app>